demo_0002/ClienteFinal/classes/webservice/SessionEJB1BeanService1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice/">
  <xsd:complexType name="actualizaLineasSolicitud">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:lineaSolicitud" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="actualizaLineasSolicitudResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="actualizaSolicitud">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:solicitudro1" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="actualizaSolicitudResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="borraLineasSolicitud">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:lineaSolicitud" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="borraLineasSolicitudResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="borraSolicitud">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:solicitudro1" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="borraSolicitudResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="closeConexion">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="closeConexionResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="commit">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="commitResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getConection"/>
  <xsd:complexType name="getConectionResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLineaSolicitudes">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:long" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLineaSolicitudesResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:lineaSolicitud" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getSolicitudes"/>
  <xsd:complexType name="getSolicitudesResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:solicitudro1" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="insertaLineasSolicitud">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:lineaSolicitud" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="insertaLineasSolicitudResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="insertaSolicitud">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:solicitudro1" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="insertaSolicitudResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="setSessionContext">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:anySimpleType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="setSessionContextResponse"/>
  <xsd:complexType name="lineaSolicitud">
    <xsd:sequence>
      <xsd:element name="cantidad" type="xsd:int" minOccurs="0"/>
      <xsd:element name="idlineasolicitud" type="xsd:int" minOccurs="0"/>
      <xsd:element name="idordenproduccion" type="xsd:long" minOccurs="0"/>
      <xsd:element name="idprenda" type="xsd:int" minOccurs="0"/>
      <xsd:element name="idsolicitud" type="xsd:long" minOccurs="0"/>
      <xsd:element name="idtalla" type="xsd:int" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="solicitudro1">
    <xsd:sequence>
      <xsd:element name="fchmaxima" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="fchsolicitud" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="idcliente" type="xsd:long" minOccurs="0"/>
      <xsd:element name="idsolicitud" type="xsd:long" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="actualizaLineasSolicitud" type="ns0:actualizaLineasSolicitud"/>
  <xsd:element name="actualizaLineasSolicitudResponse" type="ns0:actualizaLineasSolicitudResponse"/>
  <xsd:element name="actualizaSolicitud" type="ns0:actualizaSolicitud"/>
  <xsd:element name="actualizaSolicitudResponse" type="ns0:actualizaSolicitudResponse"/>
  <xsd:element name="borraLineasSolicitud" type="ns0:borraLineasSolicitud"/>
  <xsd:element name="borraLineasSolicitudResponse" type="ns0:borraLineasSolicitudResponse"/>
  <xsd:element name="borraSolicitud" type="ns0:borraSolicitud"/>
  <xsd:element name="borraSolicitudResponse" type="ns0:borraSolicitudResponse"/>
  <xsd:element name="closeConexion" type="ns0:closeConexion"/>
  <xsd:element name="closeConexionResponse" type="ns0:closeConexionResponse"/>
  <xsd:element name="commit" type="ns0:commit"/>
  <xsd:element name="commitResponse" type="ns0:commitResponse"/>
  <xsd:element name="getConection" type="ns0:getConection"/>
  <xsd:element name="getConectionResponse" type="ns0:getConectionResponse"/>
  <xsd:element name="getLineaSolicitudes" type="ns0:getLineaSolicitudes"/>
  <xsd:element name="getLineaSolicitudesResponse" type="ns0:getLineaSolicitudesResponse"/>
  <xsd:element name="getSolicitudes" type="ns0:getSolicitudes"/>
  <xsd:element name="getSolicitudesResponse" type="ns0:getSolicitudesResponse"/>
  <xsd:element name="insertaLineasSolicitud" type="ns0:insertaLineasSolicitud"/>
  <xsd:element name="insertaLineasSolicitudResponse" type="ns0:insertaLineasSolicitudResponse"/>
  <xsd:element name="insertaSolicitud" type="ns0:insertaSolicitud"/>
  <xsd:element name="insertaSolicitudResponse" type="ns0:insertaSolicitudResponse"/>
  <xsd:element name="setSessionContext" type="ns0:setSessionContext"/>
  <xsd:element name="setSessionContextResponse" type="ns0:setSessionContextResponse"/>
</xsd:schema>