demo_0002/ClienteFinal/classes/webservice/SessionEJB1BeanService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://webservice/" name="SessionEJB1BeanService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice/" schemaLocation="SessionEJB1BeanService1.xsd"/>
    </xsd:schema>
  </types>
  <message name="actualizaSolicitud">
    <part name="parameters" element="tns:actualizaSolicitud"/>
  </message>
  <message name="actualizaSolicitudResponse">
    <part name="parameters" element="tns:actualizaSolicitudResponse"/>
  </message>
  <message name="getLineaSolicitudes">
    <part name="parameters" element="tns:getLineaSolicitudes"/>
  </message>
  <message name="getLineaSolicitudesResponse">
    <part name="parameters" element="tns:getLineaSolicitudesResponse"/>
  </message>
  <message name="insertaLineasSolicitud">
    <part name="parameters" element="tns:insertaLineasSolicitud"/>
  </message>
  <message name="insertaLineasSolicitudResponse">
    <part name="parameters" element="tns:insertaLineasSolicitudResponse"/>
  </message>
  <message name="actualizaLineasSolicitud">
    <part name="parameters" element="tns:actualizaLineasSolicitud"/>
  </message>
  <message name="actualizaLineasSolicitudResponse">
    <part name="parameters" element="tns:actualizaLineasSolicitudResponse"/>
  </message>
  <message name="borraLineasSolicitud">
    <part name="parameters" element="tns:borraLineasSolicitud"/>
  </message>
  <message name="borraLineasSolicitudResponse">
    <part name="parameters" element="tns:borraLineasSolicitudResponse"/>
  </message>
  <message name="commit">
    <part name="parameters" element="tns:commit"/>
  </message>
  <message name="commitResponse">
    <part name="parameters" element="tns:commitResponse"/>
  </message>
  <message name="setSessionContext">
    <part name="parameters" element="tns:setSessionContext"/>
  </message>
  <message name="setSessionContextResponse">
    <part name="parameters" element="tns:setSessionContextResponse"/>
  </message>
  <message name="getSolicitudes">
    <part name="parameters" element="tns:getSolicitudes"/>
  </message>
  <message name="getSolicitudesResponse">
    <part name="parameters" element="tns:getSolicitudesResponse"/>
  </message>
  <message name="borraSolicitud">
    <part name="parameters" element="tns:borraSolicitud"/>
  </message>
  <message name="borraSolicitudResponse">
    <part name="parameters" element="tns:borraSolicitudResponse"/>
  </message>
  <message name="insertaSolicitud">
    <part name="parameters" element="tns:insertaSolicitud"/>
  </message>
  <message name="insertaSolicitudResponse">
    <part name="parameters" element="tns:insertaSolicitudResponse"/>
  </message>
  <message name="closeConexion">
    <part name="parameters" element="tns:closeConexion"/>
  </message>
  <message name="closeConexionResponse">
    <part name="parameters" element="tns:closeConexionResponse"/>
  </message>
  <message name="getConection">
    <part name="parameters" element="tns:getConection"/>
  </message>
  <message name="getConectionResponse">
    <part name="parameters" element="tns:getConectionResponse"/>
  </message>
  <portType name="SessionEJB1Bean">
    <operation name="actualizaSolicitud">
      <input wsam:Action="http://webservice/SessionEJB1Bean/actualizaSolicitudRequest" message="tns:actualizaSolicitud"/>
      <output wsam:Action="http://webservice/SessionEJB1Bean/actualizaSolicitudResponse" message="tns:actualizaSolicitudResponse"/>
    </operation>
    <operation name="getLineaSolicitudes">
      <input wsam:Action="http://webservice/SessionEJB1Bean/getLineaSolicitudesRequest" message="tns:getLineaSolicitudes"/>
      <output wsam:Action="http://webservice/SessionEJB1Bean/getLineaSolicitudesResponse" message="tns:getLineaSolicitudesResponse"/>
    </operation>
    <operation name="insertaLineasSolicitud">
      <input wsam:Action="http://webservice/SessionEJB1Bean/insertaLineasSolicitudRequest" message="tns:insertaLineasSolicitud"/>
      <output wsam:Action="http://webservice/SessionEJB1Bean/insertaLineasSolicitudResponse" message="tns:insertaLineasSolicitudResponse"/>
    </operation>
    <operation name="actualizaLineasSolicitud">
      <input wsam:Action="http://webservice/SessionEJB1Bean/actualizaLineasSolicitudRequest" message="tns:actualizaLineasSolicitud"/>
      <output wsam:Action="http://webservice/SessionEJB1Bean/actualizaLineasSolicitudResponse" message="tns:actualizaLineasSolicitudResponse"/>
    </operation>
    <operation name="borraLineasSolicitud">
      <input wsam:Action="http://webservice/SessionEJB1Bean/borraLineasSolicitudRequest" message="tns:borraLineasSolicitud"/>
      <output wsam:Action="http://webservice/SessionEJB1Bean/borraLineasSolicitudResponse" message="tns:borraLineasSolicitudResponse"/>
    </operation>
    <operation name="commit">
      <input wsam:Action="http://webservice/SessionEJB1Bean/commitRequest" message="tns:commit"/>
      <output wsam:Action="http://webservice/SessionEJB1Bean/commitResponse" message="tns:commitResponse"/>
    </operation>
    <operation name="setSessionContext">
      <input wsam:Action="http://webservice/SessionEJB1Bean/setSessionContextRequest" message="tns:setSessionContext"/>
      <output wsam:Action="http://webservice/SessionEJB1Bean/setSessionContextResponse" message="tns:setSessionContextResponse"/>
    </operation>
    <operation name="getSolicitudes">
      <input wsam:Action="http://webservice/SessionEJB1Bean/getSolicitudesRequest" message="tns:getSolicitudes"/>
      <output wsam:Action="http://webservice/SessionEJB1Bean/getSolicitudesResponse" message="tns:getSolicitudesResponse"/>
    </operation>
    <operation name="borraSolicitud">
      <input wsam:Action="http://webservice/SessionEJB1Bean/borraSolicitudRequest" message="tns:borraSolicitud"/>
      <output wsam:Action="http://webservice/SessionEJB1Bean/borraSolicitudResponse" message="tns:borraSolicitudResponse"/>
    </operation>
    <operation name="insertaSolicitud">
      <input wsam:Action="http://webservice/SessionEJB1Bean/insertaSolicitudRequest" message="tns:insertaSolicitud"/>
      <output wsam:Action="http://webservice/SessionEJB1Bean/insertaSolicitudResponse" message="tns:insertaSolicitudResponse"/>
    </operation>
    <operation name="closeConexion">
      <input wsam:Action="http://webservice/SessionEJB1Bean/closeConexionRequest" message="tns:closeConexion"/>
      <output wsam:Action="http://webservice/SessionEJB1Bean/closeConexionResponse" message="tns:closeConexionResponse"/>
    </operation>
    <operation name="getConection">
      <input wsam:Action="http://webservice/SessionEJB1Bean/getConectionRequest" message="tns:getConection"/>
      <output wsam:Action="http://webservice/SessionEJB1Bean/getConectionResponse" message="tns:getConectionResponse"/>
    </operation>
  </portType>
  <binding name="SessionEJB1BeanPortBinding" type="tns:SessionEJB1Bean">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="actualizaSolicitud">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLineaSolicitudes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertaLineasSolicitud">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="actualizaLineasSolicitud">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="borraLineasSolicitud">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="commit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setSessionContext">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSolicitudes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="borraSolicitud">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertaSolicitud">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="closeConexion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getConection">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SessionEJB1BeanService">
    <port name="SessionEJB1BeanPort" binding="tns:SessionEJB1BeanPortBinding">
      <soap:address location="http://localhost:7101/demo_0002-WebService-webapp/SessionEJB1BeanService/SessionEJB1BeanService"/>
    </port>
  </service>
</definitions>